<section style="overflow: hidden">
  <div class="center jumbotron">
    <h1>Yadda Yadda</h1>
    <p>This is a great explanation of some super cool stuff</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a><p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("ExampleImage.jpg", alt: "Example Image", class: "img-responsive") %>
      <h3><%= link_to "Download Datasets", datasets_path %></h3>
      <h5>More information</h5>
    </div>
    <div class="col-md-4">
      <%= image_tag("ExampleImage.jpg", alt: "Example Image", class: "img-responsive") %>
      <h3><%= link_to "Evaluate Segmentations", '#' %></h3>
      <h5>More information</h5>
    </div>
    <div class="col-md-4">
      <%= image_tag("ExampleImage.jpg", alt: "Example Image", class: "img-responsive") %>
      <h3><%= link_to "Compare Algorithms", algorithms_path %> </h3>
      <h5>More information</h5>
    </div>
  </div>
</section>

